body {
    font-family: "Rounded Mplus 1c", sans-serif;
    margin: 0;
}

.section-header {
    background: linear-gradient(360deg, rgba(245, 245, 245, 0) 1.5%, #44d6ff 100%);
    max-width: 1921px;
    height: 896px;
}

.header {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header-box {
    border-radius: 0 0 30px 30px;
    width: 230px;
    height: 120px;
    box-shadow: 0 7px 8px 0 rgba(97, 123, 163, 0.21);
    background: #fff6ef;
}

.logo {
    margin: 35px 30px 30px 30px;
}

.list-nav, .social-list {
    list-style: none;
    display: flex;
    cursor: pointer;
}

.list-nav {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.item, .social-item:not(:last-child) {
    margin-right: 30px;
}

.item-link {
    text-decoration: none;
    color: white;
}

.item-link:active {
    border: 2px solid #fff;
    border-radius: 30px;
    width: 100px;
    height: 40px;
    padding: 6px;
}